$themeColor: #232f3e;

// Footer
$footer-background-color: $themeColor ;
$footer-color: white;

// NavBar
$navbar-background-color: $themeColor;
$navbar-item-color: white;
$navbar-item-hover-background-color: #465f7e;
$navbar-item-hover-color: white;
$hero-body-padding-small: 0 !important;
$hero-body-padding: 0 !important;


// Custom Elements
.typewriter-show { 
  color: white;
}