
.item-holder{
    background-color: #f9f9f9;
    border-bottom: 2px solid #e8e8e8;
    &:first-child{
        border-top: 2px solid #e8e8e8;
    }
    .item-pic{
        padding: 1rem;
        display: inline-flex;
        img{
            width: 6rem;
            height: 8rem;
            transition: all .2s ease; /* Animation */
            &:hover{
                transform: scale(1.5); 
                margin-right: 1rem; 
            }
        }
    }  
    .item-info{
        display: inline-flex;
        vertical-align: top;
        .item-basic-info{
            margin-top: 1rem;
        }
    }
    .item-actions{
        float: right;
        margin-right: 2rem;
        .item-button{
            margin: 1rem .5rem
        }
    }
}


